@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,800&family=Russo+One&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Russo One', sans-serif; */

body, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}
:root {
    --main-color: #3344da;
    --text-color: #131927;
}

a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.navbar {
    position: relative;
    width: 100%;
}
.navbar nav .logo a {
    color: var(--text-color);
    font-size: 2rem;
    font-family:'Russo One', sans-serif;
}
.navbar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
}
.navbar .nav-links {
    display: flex;
    gap: clamp(1.2rem, 2vw, 2rem);
    align-items: center;
}
.navbar .nav-links li a {
    color: var(--text-color);
    font-weight: 600;
    transition: ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -moz-transition: ease-in-out 0.25s;
    -ms-transition: ease-in-out 0.25s;
    -o-transition: ease-in-out 0.25s;
}
.navbar .nav-links li a:hover {
    color: var(--main-color);
}
nav .signup {
    padding: 5px 10px;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
nav .signup a {
    color: #fff;
}
nav .signup:hover {
    opacity: 0.8;
}

nav form {
    position: relative;
}

nav form #search {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
    padding-left: 20px;
    width: clamp(100px, 25vw, 200px);
}

nav form #search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

form button {
    background: transparent;
    border: none;
    outline: none;
}

form .bx-right-arrow-alt {
    position: absolute;
    right: 20px;
    top: 2px;
    color:var(--text-color);
    cursor: pointer;
    font-size: 1.2rem;
}
input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

#times, #toggler {
    display: none;
}

/* web content */
.web-content {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    gap: 1rem;
    overflow-x: hidden;
}

.web-content .text {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    flex-shrink: 10;
}
.web-content .text .shopnow {
    margin-top: 2rem;
}

.web-content .text .shopnow a {
    background: var(--main-color);
    padding: 10px 20px;
    color: #fff;
}
.web-content h1 {
    font-size: clamp(30px, calc(8vw - 25px), 50px);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
}

.web-content .img {
    width: 100%;
    flex-basis: 35%;
    flex-shrink: 1;
}

.web-content .img img {
    width: min(50vw, 100%)
}

/* Responsiveness for mobile phones and tablets */

@media(max-width:980px) {
    nav .nav-links {
        flex-direction: column;
        position: absolute;
        width: 260px;
        top: 40px;
        left: -100%;
        background: var(--main-color);
        padding: 10px;
        height: 100vh;
        overflow-y: scroll;
        justify-content: flex-start;
        align-items: center;
        padding-top: 3rem;
        gap: 3rem;
        border-top-right-radius: 50px;
        transition:0.25s ;
        -webkit-transition:0.25s ;
        -moz-transition:0.25s ;
        -ms-transition:0.25s ;
        -o-transition:0.25s ;
}

.nav-links.active {
    left: 0;
}

.navbar .nav-links li {
    align-self: flex-start;
    padding-left: 15px;
}
.navbar .nav-links li a {
    color: #fff;
}

nav .nav-links .signup {
    order: 1;
    background: #fff;
    width: 80%;
    text-align: center;
}

nav .nav-links .signup a {
    color: var(--main-color);
    font-weight: 700;
}

nav .nav-links li {
    order: 2;
}

.menu-togglers #times, .menu-togglers #toggler {
    font-size: 1.8rem;
    cursor: pointer;
}

.menu-togglers #times.show {
    display: block;
}

.menu-togglers #toggler {
    display: block;
}

.menu-togglers #toggler.hide {
    display: none;
}
.web-content h1 {
    flex-basis: 50%;
}
.web-content .img {
    flex-basis: 50%;
}


}

@media(max-width:500px) {
    .navbar nav {
        padding: 10px 5px 2px;
        justify-content: space-around;
    }
    .navbar nav .logo a {
        font-size: 1.3rem;
    }
    .web-content {
        padding-left: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10rem;
    }
    .web-content .text {
        flex-basis: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .web-content .img {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}